* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home {
    background: var(--dark-background);
}

.number-presents {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
}

.link {
    background: var(--medium-background);
    margin-right: 10px;
    transition: all 0.3s ease;
}

.link:hover {
    background: var(--light-background);

}