:root {
    --darkest-background: hsl(0, 0%, 60%);
    --dark-background: hsl(0,0%,70%);
    --medium-background: hsl(0,0%,80%);
    --light-background: hsl(0,0%,90%);
    --lightest-background: hsl(0,0%,100%);
    --text-color: black;
    --font-family: 'Times New Roman', serif;
    --link-accent-color: blue;
}

*:not(body):not(#root) {
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: var(--darkest-background);
}